<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <div class="app">



    </div>
    <div class="actions">
        <button class="update-dom">Update DOM</button>
    </div>
    <div class="app-test"> </div>
</body>
</html>
